header {
    background-color: #1F2937;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    
}

li {
    display: inline-block;
    margin-left: 32px;
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    
}